.more-like {
  background-color: #F2F2F2;
}

.more-like h3 {
  padding-left: 20px;
  padding-top: 15px;
  font-size: 20px;
}

.more-like .container {
  width: 100%;
  max-width: 100%;
  display: flex;
}

.more-like .item {
  padding-right: 15px;
}

.more-like .item:last-child {
  padding-right: 0;
}


.debug {padding: 20px;}
.debug .level-1 {margin-bottom: 10px;}
.debug .level-1 strong {text-transform: uppercase;}
.debug .level-2 {margin-bottom: 10px;}
.debug .level-2 strong {text-transform: capitalize;}
