


.debug {padding: 20px;}
.debug .level-1 {margin-bottom: 10px;}
.debug .level-1 strong {text-transform: uppercase;}
.debug .level-2 {margin-bottom: 10px;}
.debug .level-2 strong {text-transform: capitalize;}
