

@media (max-width: 1200px) {

  .more-like .container {
    flex-wrap: wrap;
  }
  .more-like .item {
    width: 50%;
  }
  .more-like .item:nth-child(even) {
    padding-right: 0;
  }


}

@media (max-width: 767px) {

  html {
    margin-top: 0 !important;
  }

  #wpadminbar {
    display: none !important;
  }

  .siteHeader .navbar {
    height: 70px;
  }

  .siteHeader .navbar-brand img {
    width: 160px;
  }

  .more-like .item {
    width: 100%;
    padding-right: 0;
  }

  .journals-list .item,
  .journals-list .item:nth-child(odd),
  .journals-list .item:nth-child(even) {
    width: 100%;
    padding: 0;
  }

  .cardJournal {
    text-decoration: none !important;
  }

  .cardJournal-link {
    display: none;
  }

  .cardJournal-image {
    margin-bottom: 0;
  }



}

@media (max-width: 360px) {

  .siteHeader .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }


}
