

@media (max-width: 1200px) {

  .more-like .container {
    flex-wrap: wrap;
  }
  .more-like .item {
    width: 50%;
  }
  .more-like .item:nth-child(even) {
    padding-right: 0;
  }


}

@media (max-width: 767px) {

  .more-like .item {
    width: 100%;
    padding-right: 0;
  }

  .journals-list .item,
  .journals-list .item:nth-child(odd),
  .journals-list .item:nth-child(even) {
    width: 100%;
    padding: 0;
  }

  .cardJournal-link {
    display: none;
  }

}

@media (max-width: 360px) {

  .siteHeader .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .siteHeader .navbar-brand img {
    width: 180px;
  }

  #wpadminbar {
    display: none;
  }

}
