@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.eot');
    src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.eot');
    src: url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}



/* BASE =================== */
html {
	font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

body.admin-bar #navbarHeader.collapse.show {
  top: 32px;
}

/* Buttons =================== */
.btn {
  position: relative;
  height: 36px;
  padding: .375rem 2rem;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24);
  transition: all .3s ease-out;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24);
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #006A83;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
}

.btn-primary:hover {
  background-color: #006A83;
}

.btn-blue {
  color: #FFFFFF;
  background-color: #7FCEF2;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
}

.btn-green {
  color: #FFFFFF;
  background-color: #00A276;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
}

.btn-red {
  color: #FFFFFF;
  background-color: #D51633;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
}

.btn-yellow {
  color: #FFFFFF;
  background-color: #A0C643;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
}

.btn-transparent {
  color: #006A83;
  background-color: transparent;
  box-shadow: none;
}

.btn-text:hover,
.btn-text:focus {
  color: #006A83;
  background-color: #dedede;
  box-shadow: none;
}

.is-blue {
  color: #7FCEF2 !important;
}

.is-green {
  color: #00A276 !important;
}

.is-red {
  color: #D51633 !important;
}

.is-yellow {
  color: #A0C643 !important;
}


/* Helpers =================== */
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.hidden {
  display: none !important;
}





/* HEADER =================== */
.siteHeader .navbar {
  height: 125px;
  padding-left: 40px;
  padding-right: 40px;
}

.siteHeader .navbar-brand {
  /* margin-left: 30px; */
}

.navbar-toggler {
  cursor: pointer;
}

.navbar-toggler span {
  display: block;
  width: 3px;
  height: 3px;
  margin-bottom: 3px;
  background-color: rgba(0,0,0,1);
}

/* Bread =================== */
.bread {
  height: 30px;
  background-color: rgba(203,208,212,0.5);
}

.bread .item {
  display: inline-block;
  line-height: 30px;
  font-size: 13px;
  color: #4A4A4A;
  padding: 0 10px;
}

/* Menu =================== */
#navbarHeader.collapse.show {
  	position: fixed;
  	right: 0;
  	top: 0;
  	height: 100vh;
  	width: 280px;
  	background-color: #FFFFFF;
  	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 0 rgba(0,0,0,0.2);
  	z-index: 999;
	transition: all 0.3s ease;
	padding: 10px 0 0 20px;
}

#navbarHeader.collapse {
	position: fixed;
	height: 100vh;
	right: -280px;
	transition: all 0.3s ease;
	z-index: 999;
	padding: 10px 0 0 20px;
}

#navbarHeader.collapsing {
	position: fixed;
	height: 100vh !important;
	right: -280px;
	opacity: 1;
	transition: all 0.3s ease;
	z-index: 999;
	padding: 10px 0 0 20px;
}


.menu-logo {
  display: block;
  margin: 10px 0;
}

.menu-toggler {
  position: absolute;
  right: 5px;
  top: 20px;
}

.menu-search {
  margin: 83px 0 0 0;
}

.menu-search .form-control {
  height: 48px;
  padding-left: 50px;
  border: none;
  border-radius: 2px;
  background: rgba(255,255,255,1) url(../img/search.png) no-repeat 10px center;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  font-size: 1.4rem;
}

.menu-line {
  width: 280px;
  height: 1px;
  margin: 15px -15px 30px -15px;
  background-color: #CBD0D4;
}

.menu-collection,
.menu-about {
  list-style: none;
  padding-left: 5px;
  margin-bottom: 0;
}

.menu-collection ul,
.menu-about ul {
  list-style: none;
  padding-left: 20px;
}

.menu-nav a {
  display: block;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  color: rgba(0,0,0,0.87);
}

.menu-nav .is-muted {
  color: rgba(0,0,0,0.54);
}

.menu-static-item {
	color: rgba(0,0,0,0.54);
	font-size: 16px;
	font-weight: bold;
}

.menu-search2 {
  position: absolute;
  right: 80px;
  top: 50px;
}

.menu-search2 .form-control {
  	height: 48px;
  	width: 275px;
  	padding-left: 32px;
  	border: none;
  	border-radius: 2px;
  	color: rgba(0,0,0,0.38);
  	background-color: #FFFFFF;
  	/* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24); */
  	font-size: 14px;
  	line-height: 20px;
	background-image: url(../img/search-icon.png)	;
	background-position: 5px center;
	background-repeat: no-repeat;
	margin: -15px 0 0px 0;
	border-bottom: 1px solid #e6e6e6;
}


.searchHeader {
    position: relative;
	height: 106px;
    padding: 30px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 0;
    color: rgba(255,255,255,1);
    background-color: rgba(0,106,131,1);
    background-image: url(../img/xmr-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.searchHeader-title {
	display: inline-block;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 24px;
	line-height: 1;
	font-weight: bold;
	text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	margin: 12px 0 0 0;
}

.searchHeader-form {
	margin: 0px auto;
	width: 675px;
	max-width: 90%;
}

.searchHeader-form-input {
	height: 48px;
	width: 100%;
	border-radius: 2px;
	background-color: #FAFAFA;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
	border: 0px;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position: 12px center;
	font-size: 18px;
	padding: 8px 20px 10px 42px;
}


/* MAIN =================== */
main {
	background-color: #EEEEEE;
}

.article-content {
  position: relative;
  height: 10px;
  background: green;
}





/* Start =================== */
.start {
  position: relative;
  padding: 0;
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 0;
  color: rgba(255,255,255,1);
  background-color: rgba(0,106,131,1);
  background-image: url(../img/xmr-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.start-inner {
  position: relative;
  min-height: 530px;
  padding: 0.1px 0 77px 0;
}

.start.is-results {
  padding: 15px 15px 15px 50px;
  background: #006a83;
}

.start-title {
  margin: 170px 0 25px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 4.8rem;
  line-height: 4rem;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 0pt 4pt rgba(0,0,0,0.5);
}

.start-text {
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 0pt 4pt rgba(0,0,0,0.5);
}

@media (max-width: 767px) {
  .start-title {
    margin: 24px 0 18px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 0pt 4pt rgba(0,0,0,0.5);
  }

  .start-text {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}




/* Start Tabs =================== */
.tab-content {
	background-color: #F2F2F2;
}

.startTabs  {
  	position: absolute;
  	left: 50%;
	width: 646px;
  	margin-left: -323px;
  	bottom: 0px;
  	border: none;
  	display: flex;
  	justify-content: space-between;
}

.startTabs-item {
  width: 32%;
  border: 0px solid #fff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1;
}

.startTabs-item a{
  height: 50px;
	background-color: rgba(255,255,255,0.25);
  padding: 20px 0 0 0;
  display: block;
  color: #fff;
  text-decoration: none;
	position: relative;
  top: 5px;
}

.startTabs-item a.active{
  font-size: 1.8rem;
  height: 55px;
	background-color: #F2F2F2;
  padding: 23px 0 0 0;
	color: #000000;
  top: 0;
}



@media (max-width: 767px) {
.startTabs  {
  	left: -15px;
  	right: -15px;
  	bottom: 0px;
  	width: auto;
	margin-left: 0;
}

.start-inner {
	min-height: 230px;
}

.startTabs-item {
  	width: 33.33333%;
  	border: 0px solid #fff;
  	text-align: center;
  	font-size: 1.6rem;
  	line-height: 1;
}

.startTabs-item a{
  	height: 48px;
  	padding: 0 0 0 0;
  	display: block;
  	color: #fff;
	background: none;
  	text-decoration: none;
		top: 0;
}

.startTabs-item a.active{
	font-size: 1.6rem;
  	color: #fff;
  	height: 48px;
  	padding: 0 0 0 0;
	background: none;
  	font-weight: bold;
  	border-bottom: 4px solid #fff;
	margin-bottom: 0;
}

.startTabs-item a:hover{
  text-decoration: none;
  color: #e6e6e6;
}



/* Start Nav =================== */
.start .nav-item:last-child .nav-link {
  height: 42px;
}

.start .nav-item:last-child .nav-link {
  height: 43px;
  line-height: 42px;
}

.start .nav-link {
  padding: 0 0 7px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
  border: none;
  border-bottom: 4px solid rgba(255,255,255,0);
}

.start .nav-link.active {
  font-weight: bold;
  color: rgba(255,255,255,1);
  background-color: rgba(255,255,255,0);
  border-bottom: 4px solid rgba(255,255,255,1);
}

.start .nav-link:hover,
.start .nav-link:focus {
  color: #73a534;
}
}




/* Start Search =================== */
.start-search {
  margin-top: 100px;
  margin-bottom: 60px;
}

.start.is-results .start-search {
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(255,255,255,1) url(../img/search-close.png) no-repeat right center;
}

.start-search .form-control {
  height: 48px;
  padding-left: 50px;
  border-radius: 2px;
  background: rgba(255,255,255,1) url(../img/search.png) no-repeat 10px center;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
}


.start.is-results .start-search .form-control {
  background-image: url(../img/search.png), url(../img/search-close.png);
  background-repeat:
      no-repeat,
      no-repeat;
  background-position:
      10px center,
      center right;
}

.start-back {
  background: url(../img/search-back.png) no-repeat 0px 2px;
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 10px;
  top: 26px;
}









/* Card Article =================== */
.articles {
	margin-top: -10px;
	padding-bottom: 60px;
	overflow: hidden;
}

.cardArticle {
  margin-bottom: 30px;
  border-radius: 0px;
  border: none;
  background-color: #FFFFFF;
  border: 0px solid #fff;
  box-shadow: 0px 3px 2px 0 rgba(0,0,0,0.2);
}

.cardArticle-body {
  padding: 10px;
}

.cardArticle-date {
  margin-bottom: 3px;
  color: rgba(117,117,117,1);
  font-size: 1.2rem;
  line-height: 2rem;
}

.cardArticle-title {
  display: block;
  margin-bottom: 6px;
  color: rgba(0,0,0,0.87);
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
}

.cardArticle-persons {
  padding-left: 22px;
  margin-bottom: 15px;
  color: rgba(97,97,97,1);
  font-size: 14px;
  line-height: 20px;
  background-image: url(../img/persons.png);
  background-repeat: no-repeat;
  background-position: -1px 2px;
}

.cardArticle-text {
  margin-bottom: 15px;
  color: rgba(97,97,97,1);
  font-size: 16px;
  line-height: 24px;
}

.cardArticle-counts {
}

.cardArticle-counts img {
	height: 20px;
  width: auto;
}

div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner.altmetric-popover-inner.altmetric-floating {
  width: 206px !important;
}


/* Card Article Modal =================== */

.cardArticle-modal {
	display: block;
	flex-direction: column;
	max-height: 100%;
	overflow: hidden;
	position: relative;
	padding: 30px 3px 60px 3px;
	height: 600px;
	box-sizing: border-box;
}

@media (max-width: 767px) {
	.cardArticle-modal {
		height: calc(100vh - 100px);
	}
}

.cardAbstract {
	height: 300px;
	margin: 0 !important;
}

@media (max-height: 700px) {
.cardArticle-modal {
	height: 520px;
}

.cardAbstract {
	height: 220px;
}
}

@media (max-height: 600px) {
.cardArticle-modal {
	max-height: 100%;
	height: 100%;
}

.cardAbstract {
	height: auto;
	min-height: 50px;
}
}

.modal .cardArticle-date {
  font-size: 12px;
  color: #757575;
}

.modal .cardArticle-title {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: rgba(0,0,0,0.87);
}

.modal .cardArticle-persons {
  font-size: 14px;
  line-height: 20px;
}

.modal .cardAbstract {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0,0,0,0.87);
}

.modal .cardArticle-buttons {
  	position: absolute;
	bottom: 30px;
	right: 10px;
	min-width: 300px;
	text-align: right;
}

.modal .cardArticle-buttons .btn {
  width: 145px;
}




/* Search =================== */
.search-results {
	padding: 0 0 60px 0;
}

.search-results .card-title {
  font-weight: normal;
}








/* About =================== */
.about {

}

.about-body {
  padding: 20px;
  margin: 30px 10px;
  color: rgba(128,128,128,0.87);
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #CFCFCF;
  background-color: #F2F2F2;
}







/* Journals =================== */
.journals {
  padding: 10px 0;
}

.journals .item {
  position: relative;
  height: 240px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  /* background: #979797; */
  /* border: 1px solid #979797; */
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
}

.journals .item-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255,255,255,0.9);
}

.journals .item.is-black .item-body {
  background-color: rgba(0,0,0,0.5);
}

.journals .item-title {
  color: #000000;
  font-size: 24px;
  line-height: 32px;
}


.journals .item-text {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
}

.journals .item.is-black .item-title,
.journals .item.is-black .item-text {
  color: #fff;
}

.journals .item-link {
  position: absolute;
  right: 10px;
  top: 15px;
  display: block;
  width: 30px;
  height: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../img/link-white.png) no-repeat right center;
}

.journals .item.is-black .item-link {
  background: url(../img/link-black.png) no-repeat right center;
}



/* Card Journal =================== */
.home-journals .container {

}

.journals-list {
  display: flex;
  flex-wrap: wrap;
}

.journals-list .item {
  width: 50%;
  margin-bottom: 30px;
}

.journals-list .item:nth-child(odd) {
  padding-right: 20px;
}

.journals-list .item:nth-child(even) {
  padding-left: 20px;
}

.cardJournal {
  height: 100%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.14);
}

.cardJournal-body {

}

.cardJournal-title {
  display: block;
  margin-bottom: 5px;
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
}


.cardJournal-title span {
  font-weight: 300;
}

.cardJournal-excerpt {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.cardJournal-image {
  margin-bottom: 30px;
}

.cardJournal-image img {
  width: 100%;
  height: auto;
}

.cardJournal-link {
  margin-bottom: 30px;
  text-align: center;
}




/* Intro =================== */
.intro {
  position: relative;
  padding: 30px;
	background-color: #CBD0D4;
}

.intro-meta {
  margin-bottom: 10px;
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  line-height: 20px;
}

.intro-title {
  margin-bottom: 10px;
  color: rgba(0,0,0,0.87);
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
}

.intro-authors {
  margin-bottom: 20px;
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  text-decoration: underline;
}

.intro-pdf {
  margin-bottom: 10px;
}

.intro-pdf .btn {
	width: 180px;
}

.intro .nav-tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: none;
    display: flex;
}

.intro .nav-item {
    display: inline-block;
    width: 33.33%;
}

.intro .nav-link {
    padding: 0 0 7px 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    text-align: center;
    color: rgba(0,0,0,0.87);
    border: none;
    border-bottom: 4px solid rgba(255,255,255,0);
}

.intro .nav-link.active {
    font-weight: bold;
    color: #006A83;
    background-color: rgba(255,255,255,0);
    border-bottom: 4px solid #006A83;
}

.intro-tweet {
  display: block;
  width: 80px;
  height: 20px;
  margin-top: 8px;
  margin-right: 10px;
  padding-left: 30px;
  float: right;
  color: #006A83;
  font-size: 14px;
  font-weight: bold;
  background: url(../img/tweet.png) no-repeat left center;
}




/* Lens =================== */
.lens {
  width: 100%;
  margin: 0 auto;
  background-color: #F2F2F2;
}

iframe {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* min-height: calc(100vh - 100px - 120px); */
  min-height: 100vh;
  border: none;
}

.panel.print.resource-view .surface {
  padding: 30px;
}

.panel.print.resource-view .surface .nodes a{
  display: block;
  width: 200px;
  margin-bottom: 15px;
}




/* Abstract =================== */
.abstract {}

.abstract-body {
  padding: 20px 10px;
}

.abstract-body img {
  width: 100%;
  height: auto;
  margin: 30px 0;
}








/* Browse =================== */
.browse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  background-color: #EDEDED;
}

.browse-title {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.87);
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}


.browse > div {
  height: 52.32px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.browse > div > div {
  height: 52.32px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #DCDCDC;
}

.browse span {
  color: #253364;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.browse-after div {
  width: 100%;
  padding: 10px 60px 10px 15px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background: url(../img/arrow-right.png) no-repeat right center;
}

.browse-prev div {
  margin-right: 10px;
  padding: 10px 10px 10px 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background: url(../img/arrow-left.png) no-repeat left center;
}

.browse-next div {
  padding: 10px 40px 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background: url(../img/arrow-right.png) no-repeat right center;
}

.browse-after {
  width: 100%;
}

.browse-prev,
.browse-next {
  width: 50%;
}

.fulltext {}

.fulltext-body {
  padding: 20px 10px;
}






/* Tools =================== */
.tools {
padding: 20px 10px;
}

.tools-body {
  /* padding: 20px 10px; */
  margin-bottom: 20px;
}

.tools-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.tools-text {
  /* padding: 20px 10px; */
}

.tools .btn-white {
  width: 100%;
  height: 36px;
  margin-bottom: 15px;
  color: #006A83;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}








/* More Like This ==================== */
.more-like {
  background-color: #F2F2F2;
}

.more-like h3 {
  padding-left: 20px;
  padding-top: 15px;
  font-size: 20px;
}

.more-like .container {
  width: 100%;
  max-width: 100%;
  display: flex;
}

.more-like .item {
  width: 25%;
  padding-right: 15px;
  margin-bottom: 30px;
}

.more-like .item:last-child {
  padding-right: 0;
}

.more-like .item .cardArticle {
  height: 100%;
  margin-bottom: 0;
  position: relative;
}

.more-like .item .cardArticle-persons {
  margin-bottom: 30px;
}

.more-like .item .cardArticle-counters {
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}





/* Footer Desktop =================== */
.siteFooter {
  height: 120px;
  padding: 40px;
	background-color: rgba(0,132,97,1);
  color: rgba(255,255,255,1);
}

.siteFooter-title {
  display: none;
}

.siteFooter-logo {
  position: relative;
  left: 0;
  bottom: 0;
  float: left;
}

@media (max-width: 920px) {
	.siteFooter-logo {
		float: none;
		margin: 10px auto;
	}
}

.siteFooter-menu {
  float: right;
}

.siteFooter-menu-item {
  display: inline-block;
  padding: 0 10px;
}

.siteFooter-menu-link:hover,
.siteFooter-menu-link:focus {
  color: #00809d;
  color: #006a83;
}

.siteFooter-menu-link {
  color: rgba(255,255,255,1);
  font-size: 16px;
  line-height: 30px;
  text-decoration: underline;
}



/* siteFooter Mobile=================== */

@media (max-width: 920px) {

.siteFooter {
	height: auto;
  position: relative;
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.siteFooter-title {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

}

.siteFooter-menu {
  padding-left: 0;
  list-style: none;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
}

@media (max-width: 767px) {
.siteFooter-menu-item {
	width: 100%;
}
}


/* Modal =================== */

.modal {
	padding-right: 0 !important;
}

.modal-content,
.modal-content .slickSlider {
  background-color: #fff !important;
}

@media (max-width: 820px) {
.modal-dialog.modal-dialog-centered {
	margin: 4px;
}
}

.btn-modal  {
  color: #006A83;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background: none;
}

.modal-body {
  padding: 10px;
}

.modal-backdrop.show {
  opacity: 0.7;
}

.modal .card {
  box-shadow: none;
  text-align: left;
}

.modal .card-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
  }
}




/* Modal Slider =================== */

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.modal .slick-list {
	margin-bottom: 0px;
}


.slick-list {
  margin: 30px;
}

.slick-slide {
  width: 740px;
}

.slick-prev,
.slick-next {
  width: 160px;
  height: 160px;
  border: 1px solid #979797;
  background-color: #e6e6e6 !important;
}

.slick-prev:before,
.slick-next:before {
  color: #4A4A4A;
  font-weight: bold;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  display: none !important;
}

.slick-prev {
	left: -210px;
	background-image: url(../img/slide-prev.png);
	background-position: center;
	background-repeat: no-repeat;
}

.slick-prev:before, .slick-next:before  {
	content: '';
	color: rgba(0,0,0,0) !important;
}


.slick-next {
  right: -210px;
	background-image: url(../img/slide-next.png);
	background-position: center;
	background-repeat: no-repeat;
}

.slick-prev:hover,
.slick-prev:focus {
	background-image: url(../img/slide-prev.png);
	background-position: center;
	background-repeat: no-repeat;
	color: rgba(0,0,0,0) !important;
	opacity: 0.8;
}

.slick-next:hover,
.slick-next:focus {
	background-image: url(../img/slide-next.png);
	background-position: center;
	background-repeat: no-repeat;
	color: rgba(0,0,0,0) !important;
	opacity: 0.8;
}

.slick-dots {
  position: absolute;
  top: 0;
  bottom: auto;
  height: 36px;
  line-height: 30px;
  padding-left: 30px;
  background-color: #EEEEEE;
  text-align: left;
}

.slick-dots li {
  margin: 0;
}


/* Add class for remove bug for one slide */
.full-width {
  width: 100% !important;
}

/* Additions =================== */
.searchwp-highlight {
background-color: yellow;
}

.pane-title {
  padding: 30px 0 30px 0;
  margin: 0 0 40px 0;
	color: #000000;
	font-family: Roboto;
  font-weight: 400;
	font-size: 2.8rem;
	line-height: 3.2rem;
  border-bottom: 1px solid rgba(155,155,155,0.5);
}

.hidden-xs {
	display: block;
}

.visible-xs {
	display: none;
}

@media (max-width: 767px) {
.visible-xs {
	display: block;
}

.hidden-xs {
	display: none;
}

}


/*======================= Cog9 Admin Section ===================================*/

body.page-template-page-cog9 {
	background-color: #FAFAFA;
}


.adminHeader {
	width: 100%;
}


.adminHeader-topbar {
	background-color: #78909C;
	height: 56px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.adminHeader-leftlogo {
	float: left;
}

.adminHeader-rightlogo {
	float: right;
}

.adminHeader-bottombar {
	background-color: #CFD8DC;
	padding: 10px 110px;
	font-size: 18px;
	margin-left: 0px !important;
	width: 100%;
}

.adminHeader-bottombar a:first-child {
  float: none !important;
}

.adminHeader-bottombar a:last-child {
  float: right;
}

.adminContent {
	padding: 20px 85px 60px 106px;
}

.adminArticles-table {
	font-size: 14px;
}

.adminArticles-table-header {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #e6e6e6;
}

.adminArticles-table td{
	padding: 10px 5px;
}

.adminArticles-table tr{
	border-bottom: 1px solid #eee;
}


.adminArticles-table tr:hover{
	background-color: #e6e6e6;
}

.adminContent {
	font-size: 16px;
}

.aboutTab-content {
	font-size: 16px;
	line-height: 1.4;
	color: #111;
	font-family: Roboto;
	padding: 0px 0 40px 0;
}

.aboutTab-content p{
	font-size: 16px;
	line-height: 1.4;
	color: #111;
	font-family: Roboto;
	padding: 0;
	margin-bottom: 20px;
}


.aboutTab-content a{
	color: #005C77;
	text-decoration: none;
}

.aboutTab-content h3{
	font-size: 24px;
	font-weight: 400;
	margin: 40px 0 10px 0;
}

.aboutTab-content h2{
	font-size: 28px;
	font-weight: 700;
	margin: 52px 0 6px 0;
	padding: 0;
}

.notice.notice-red {
  color: red !important;
}

.notice.notice-green {
  color: green !important;
}

.notice.notice-done {
  font-size: 120%;
}


.modal-dialog-centered {
    min-height: 300px !important;
	max-height: 90% !important;
}

.modal-content {
	max-height: 90vh;
	overflow: visible;
}

.slickSlider.slick-initialized.slick-slider {
	height: 100%;
}





/* ======================== Nano Scroller ==========*/
/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

.cardArticle-counters {
	display: flex;
}

.altmetric-embed {
	width: 200px;
	float: left;
	margin: 0 0 0 20px;
}
